<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ENTRAR</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="principal">

    <div id="login">
        <div class="caixa">
            
            <h1>LOGIN</h1>

            <div class="email">
                <input type="email" placeholder="E-mail">
            </div>

            <div class="senha">
                <input type="password" placeholder="Senha">
            </div>

            <div class="entrar">
                <p>Ainda não tem uma conta? <a href="cadastro.html">Crie uma.</a></p>
                <input type="submit" value="Entrar">
            </div>

            <!-- LOGO CENTRALIZADO ABAIXO -->
            <div class="logo">
                <img src="images/logo.jpg" alt="Logo JOBS">
            </div>

        </div>
    </div>

</body>
</html>
